@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html, body {
    background-color: #a1a1a1;
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    min-width: 300px;
}
h1{
    text-shadow: 2px 2px dimgray;
}
#form-outer{
    background-color: #C1EBFF;
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}
.labels{
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: middle;
    padding: 5px;
    padding-top: 10px;
}
.right-tab{
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
    padding: 5px;
    padding-top: 10px;
}
#number{

}
.input-field {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
.dropdown{
    margin-left: 10px;
    height: 30px;
    width: 40%;

}
.make,
input[type="checkbox"]{
    float: left;
    margin-right: 10px;
}
.tick{
    padding-left: 10px;d
}
#long {
    text-align: center;
    margin-left: 60px;
    margin-right: -60px;
}
#submit{
    width: 20%;
    height: 1.75em;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 30px;
}